@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');
 
 .btn{
    border: 2.5px solid rgb(177, 177, 177);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    &__medium-round{
        border-radius: 5px;
    }
    &__full-round{
        border-radius: 5px;
    }
}