.serviceCard{
    border: 1px solid red;
    width: 220px;
    height: 300px;

    &__info{
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
        align-items: center;
        height: 50px;
        &__descriptionDropdown{
            position: absolute;
            margin-top: 50px;
            width: 220px;
            background-color: red;
            p{
                margin: 0px 15px;
            }

        }
    }
    &__image{
        width: 100%;
        transition: .2s;
        height: 200px;
        &:hover{
            filter: blur(4px);
        }
    }
}