.past-job-card img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.contractor-profile-container {
  top: 0;
  left: 0;
  padding: 20px;
}

.contractor-details {
  max-width: 300px;
}

.past-jobs {
  text-align: center;
}

.past-job-card {
  width: calc(33.333% - 20px);
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.service-offered {
  flex: 1;
  max-width: 300px;
}

.review {
  margin-bottom: 10px;
}
.description {
  padding: 20px;
  margin: 20px;
}
hr {
  max-width: 50%;
  margin: 0 auto;
}
.container-details {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.contact-info-description {
  align-self: center;
}
