.past-job-card img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.contractor-profile-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.contractor-details {
  flex: 1;
  max-width: 300px;
}

.past-jobs {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.past-job-card {
  width: calc(33.333% - 20px);
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.service-offered {
  flex: 1;
  max-width: 300px;
}

.review {
  margin-bottom: 10px;
}
