.listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.listingsDiv {
  background-color: lightgray;
  grid-area: 1 / 1 / 6 / 5;
  padding: 0 20px;
}
.listingsH3 {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
  padding: 10px 5px;
}

.buttons {
  border: 1px solid lightslategray;
  border-radius: 30px;
  text-align: center;
  grid-area: 2 / 1 / 3 / 4;
  margin: 0 50px;
}

.all {
  background-color: lightgray;
  border: none;
  padding: 15px 40px;
}

.current {
  background-color: lightgray;
  border: none;
  padding: 15px 40px;
}
.complete {
  background-color: lightgray;
  border: none;
  padding: 15px 40px;
}

.all:hover,
.current:hover,
.complete:hover,
.all:focus,
.current:focus,
.complete:focus {
  font-weight: bolder;
}

.allListings,
.completeListings,
.currentListings {
  grid-area: 3 / 1 / 6 / 4;
  padding: 10px 15px;
}

.allListings ul li,
.completeListings ul li,
.currentListings ul li {
  list-style-type: square;
}
