.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "nav nav" "main main";
}
.main {
  grid-area: main;
  padding-top: 1em;
  text-align: center;
}
.sidebar {
  padding-top: 1em;
  grid-area: sidebar;
  border: 0.5px solid lightgray;
  margin-right: 20px;
}

nav {
  grid-area: nav;
}

.service-found {
  color: #38b6ff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.dropdown {
  padding-top: 1.4em;
}

.main-header h2 {
  font-size: 30px;
}

.results-for {
  font-weight: 400;
}

.service-found {
  font-weight: 900;
  font-size: 40px;
}

.left-main {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left-main p {
  padding-top: 10px;
  color: rgb(190, 190, 190);
  font-size: 1rem;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas: "nav" "main" "sidebar";
  }
}
