.reviews {
  grid-gap: 5px;
  background-color: red;
  &__card {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.contact i {
  cursor: pointer;
}
