/* MAIN COLORS */
$ProRated-Blue: #38b6ff;
$ProRated-Purple: #5271ff;

/* WHITE PALETTE */
$Off-White: hsl(0, 0%, 95%);
$Silver: hsl(0, 0%, 90%);
$Pure-White: hsl(0, 0%, 100%);

/* GREY PALETTE */
$Light-Grey: hsl(0, 0%, 50%);
$Mid-Grey: hsl(0, 0%, 30%);
$Dark-Grey: hsl(0, 0%, 10%);

/* BLUE PALETTE */
$Blue-Lightest: hsl(229, 100%, 95%);
$Blue-Light: hsl(229, 100%, 71%);
$Blue: hsl(229, 100%, 66%);
$Blue-Dark: hsl(229, 100%, 61%);
$Blue-Darkest: hsl(229, 100%, 30%);

/* YELLOW PALETTE */
$Yellow: hsl(52, 96%, 69%);
$Yellow-Dark: hsl(52, 96%, 59%);
