$deepskyblue_0ac2ff: #0ac2ff;
$forestgreen_4caf50: #38c13d;
$lightgray_ccc: #cccccc;
$lightskyblue_7bd3ff: #7bd3ff;
$tomato_ff6347: #ff6347;
$white_fff: #ffffff;
$white_ffffff: #ffffff;

.login-signup {
  display: flex;
  justify-content: center;
  padding: 0px;

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
    width: 50%;
    height: fit-content;
    box-shadow: 0 0 3px rgb(191, 191, 191);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      to bottom right,
      #7bc4ff,
      #5fb4f9,
      #5f7ef9,
      #5971f6
    );

    &__title {
      color: $white_ffffff;
      font-size: 2em;
      margin-bottom: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      &__label {
        color: $white_ffffff;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__textBox {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 0;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgba(#000000, 0.5) inset;

        &::placeholder {
          text-shadow: none;
        }
      }
      &__submitbtn {
        background-color: $forestgreen_4caf50;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(#000000, 0.3),
          0px 0px 3px rgba(#000000, 0.3) inset;
        color: $white_fff;
        font-size: 1em;
        cursor: pointer;

        &:disabled {
          background-color: $lightgray_ccc;
          cursor: not-allowed;
        }
      }
    }
    &__signUp {
      color: white;
      button {
        border: none;
        background: none;
        font-size: 1em;
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

.error-message {
  color: $tomato_ff6347;
  margin-top: 16px;
}

.loader {
  background: $deepskyblue_0ac2ff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;

  &:before {
    -webkit-animation: load1 1s infinite ease-in-out;
    -webkit-animation-delay: -0.32s;
    animation: load1 1s infinite ease-in-out;
    animation-delay: -0.32s;
    background: $deepskyblue_0ac2ff;
    content: "";
    height: 4em;
    left: -1.5em;
    position: absolute;
    top: 0;
    width: 1em;
  }

  &:after {
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    background: $deepskyblue_0ac2ff;
    content: "";
    height: 4em;
    left: 1.5em;
    position: absolute;
    top: 0;
    width: 1em;
  }
  color: $deepskyblue_0ac2ff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes load1 {
  0% {
    box-shadow: 0 0;
    height: 4em;
  }

  80% {
    box-shadow: 0 0;
    height: 4em;
  }

  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0% {
    box-shadow: 0 0;
    height: 4em;
  }

  80% {
    box-shadow: 0 0;
    height: 4em;
  }

  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media only screen and (max-width: 550px) {
  .login-signup {
    &__box {
      width: 80%;
    }
  }
}
