.manageUserContainer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-area: 1 / 1 / 2 / 3;
  padding: 100px 50px;
  
}

/* - - - PROFILE PIC - - - */
.imgxPencil {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  max-width: 500px;
  position: relative;
  max-height: max-content;
}
.user_Name {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.img {
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
/* - - - PENCIL - - -  */
.editMod {
  align-items: center;
}

.editMod #myBtn {
  position: absolute;
  top: 80%;
  right: 40%;
}

/* - - - FORM - - - */
#manageUser {
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  padding: 10px 15px;
}
form > .editDetails {
  grid-area: 1 / 2 / 2 / 3;
}

.editDetails label {
  font-size: 14px;
}

.accountH3 {
  border: none;
  color: #001c99;
  padding: 5px;
  margin: 0;
  text-align: left;
}

.accountH3 svg {
  margin-top: 8px;
}

.basicInfoH4 {
  text-align: left;
  font-size: smaller;
}

input {
  box-sizing: border-box;
  padding: 12px 20px 12px 12px;
  margin: 2px 0 5px 0px;
  width: 400px;
}

/* - - - FORM INPUTS - - - */

#edInputs {
  text-align: left;
  margin: 0;
  padding: 10px;
}
#password,
#usernameEd,
#emailEd,
#locationEd,
#phonenumberEd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  position: relative;
  margin: auto;
}

#password label,
#usernameEd label,
#emailEd label,
#locationEd label,
#phonenumberEd label {
  padding: 10px 5px;
}

#password input[type="password"],
#password input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px 12px 12px;
}

/* - - - EYECON 4 PSWD - - - */
.fa-eye,
.fa-eye-slash {
  color: lightgray;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 30%;
}
