.profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-area: 1 / 1 / 5 / 6;
  margin-top: 50px;
  padding: 50px;
  gap: 15px;
  max-width: auto;
  background-color: #f2f2f2;
}
.userProfile {
  grid-area: 1 / 1 / 4 / 2;
  padding: 10px;
}

.user {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.userInfo {
  display: flex;
  flex-direction: column;

  font-size: 15px;
}

span {
  font-weight: bold;
}

.listings {
  grid-area: 1 / 2 / 3 / 6;
}

.saved {
  grid-area: 3 / 2 / 5 / 4;
  background-color: rgb(242, 239, 239);
  padding: 10px 15px;
  width: 100%;
}

.savedH3 {
  background-color: rgb(242, 246, 250);
  border: 1px dotted rgb(167, 167, 167);
  margin: 5px 35px;
  padding: 10px 5px;
  text-align: center;
}

.picNdesc {
  max-width: fit-content;
}

.picNdesc ul li {
  display: grid;
  border-bottom: 1px solid grey;
  grid-template-columns: 100px 500px;
  grid-template-rows: repeat(2, 30px);
}

.button-edit {
  background-color: #f2f2f2;
  border: 1px solid #5271ff;
  border-radius: 7px;
  color: #5271ff;
  padding: 10px 5px;
  width: 100px;
}

.contractor {
  height: 100px;
}

.contractorH5 {
  padding: 5px 10px;
}

.contractorPtag {
  padding: 10px 5px;
}

.pastReviews {
  grid-area: 3 / 4 / 5 / 6;
  background-color: rgb(203, 202, 202);
  padding: 5px 10px;
}

.pastReviews h3 {
  border: 1px solid grey;
  border-radius: 200px;
  margin: 15px;
  padding: 5px;
  text-align: center;
}
.pastReviews li {
  background-color: white;
  border: 1px solid rgb(182, 180, 180);
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  list-style: none;
  padding: 15px;
}
/* .pastReviews .contractor {
} */

.pastReviews h5 {
}

.locationh6 {
  color: rgb(82, 81, 81);
}

.rating {
  font-size: x-small;
}
/* .review {

} */
