@import "../../../Styles/main.scss";

.profile-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 25px;
  box-shadow: 0 1px 10px rgba($Mid-Grey, 0.2);
  margin: 20px 25px;
  transition: 0.19s;
  &:hover {
    background-color: $Silver;
  }
}

.profile-card:last-child {
  border: none;
}

.profile-card:first-child {
  border: none;
}

.profile-split {
  display: flex;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1rem;
  margin-right: 5px;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #38b6ff;
  padding: 3px;
  margin-bottom: 10px;
}

.image:hover {
  background-color: #00a0fc;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  text-align: left;

  color: #333;
}

.text-data .name {
  font-size: 30px;
  font-weight: 800;
}

.text-data .job {
  font-size: 15px;
  font-weight: 400;
}

.ratings {
  margin-top: 5px;
}

.ratings i {
  color: gold;
}

.hires {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: gray;
}

.bold {
  font-weight: bold;
}

.card-side {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-side .more-details {
  border-radius: 24px;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #38b6ff;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.card-side .more-details:hover {
  background-color: #00a0fc;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: gray;
}

.contact i {
  font-weight: bold;
  color: black;
}

.services {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  background-color: rgb(242, 242, 242);
  height: min-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  margin-top: 20px;
}

.show:hover + .hide {
  display: block;
  margin-top: 10px;
}

Link {
  text-decoration: none;
}
