.dropdown {
  width: 300px;
  /* margin: 100px auto; */
  user-select: none;
  cursor: pointer;
  position: relative;
  text-align: left;
}

/* .dropdown-btn {
  display: flex;
} */

.dropdown .dropdown-btn {
  display: flex;
  height: 55px;
  border: 1px solid black;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-content {
  background: #fff;
  color: #333;
  width: 100%;
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0, 0, 3px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-content .dropdown-item {
  display: flex;
  height: 50px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f4f4f4;
}

.dropdown.active .dropdown-content {
  display: none;
}
